/*
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ebe5ea9e; 
    margin: 0;
    padding: 0;
}
*/

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, hsl(40, 82%, 94%), #ffd480); 
    margin: 0;
    padding: 0;
    position: relative; /* Add this */
}

body::after { /* Add this block */
    content: "";
    background-image: url('images/globe3.png');
    opacity: 0.05;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; 
    background-size: cover; /* Add this */
    background-repeat: no-repeat; /* Add this */  
}


#mapContainer {
    display: inline-block;
    text-align: center;
    min-width: 700px; /* Set the minimum width to the actual width of the map image */
    width: 100%; /* Take up available width, but don't go below the minimum width */

}



img {
    width: 60%;  
    height: 60%;  
}


.custom-button {
    background-color: #5e7171e5; /* Background color */
    color: #db7f7f00; /* Text color */
    border: none;
    width: 4%; /* Set a fixed width for a circular shape */
    height: 3%; /* Set a fixed height for a circular shape */
    border-radius: 10%; /* Create a circular shape */
    cursor: pointer;
    position: absolute;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center; /* Center text vertically and horizontally */
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow */

}

.custom-button:hover {
    background-color: #006666c9; /* Darker blue on hover */
    color: #ffffff;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.685);
    transition: transform 0.2s ease-in-out;
    font-size: 8px;
    transform: perspective(500px) rotateX(2deg) scale(2); /* Create a debossed effect */
}

a {
    text-decoration: none; /* Remove underline from links */
}

#backArrow {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    font-size: 40px;
    color: var(--dark); /* Use the dark color variable you have */
    z-index: 10; /* Ensure it's above other elements */
}





/* Define more media queries for different screen sizes as needed */



/*




*/






